In [21]:
i=50
i
type(i)

int

In [2]:
q=3.14
type(q)

float

In [ ]:
3==3.0 #Data types afre  considered differently

True

In [ ]:
name='''my nme is Zafirah Khan
How are you'''
print(name)
a="3"
type(a)
print(a+name)
print("NET "+"FLIX")
print("NET"+"FLIX")
print(type(name)) #Displays a raw output
m= "god"
m   # IT WILL GIVE RAW OUTPUT WITH SINGLE QUOTES BUT WITH PRINT IT WILL GIVE "formatted output " with no quotes

my nme is Zafirah Khan
How are you
3my nme is Zafirah Khan
How are you
NET FLIX
NETFLIX
<class 'str'>
god

In [17]:
m=a,b,c=1,2,3
print(a,b,c)
print(m)
type(m)

1 2 3
(1, 2, 3)

tuple

In [22]:
First=True
Last=False

In [20]:
number=int(input("Enter a number"))
area=3.14*number*number
print(area)

113.03999999999999

In [23]:
x=None
print(x)

None