In [2]:
student={"name":"zafirah","rollno":23,"subject":"maths","marks":98}
print(student)

{'name': 'zafirah', 'rollno': 23, 'subject': 'maths', 'marks': 98}

In [ ]:
'''how to declare loops
how to access keys and values
how to apply loops
how to make nested dictionaries
how to access value in nested dictionaries'''

In [4]:
temp={"lko":[35,43,34],
      "delhi":[54,53,34],
      }     #to add multiple values use list in dictionary
print(temp)

{'lko': [35, 43, 34], 'delhi': [54, 53, 34]}

In [8]:
info=dict(name="Alice",age=12,city="lucknow")
print(info)

{'name': 'Alice', 'age': 12, 'city': 'lucknow'}

In [9]:
info=dict(name="Alice",age=input("enter your age"),city="lucknow")
print(info)

{'name': 'Alice', 'age': '21', 'city': 'lucknow'}

In [10]:
#list method to acees value through key is 
student["name"]

'zafirah'

In [ ]:
#print the average temperature of lko of temp dictionary

In [11]:
student["name"]
info["age"]

'21'

In [14]:
student.get("name")
temp.get("lko")

[35, 43, 34]

In [15]:
print(student.keys())

dict_keys(['name', 'rollno', 'subject', 'marks'])

In [16]:
print (student.values())

dict_values(['zafirah', 23, 'maths', 98])

In [17]:
print(student.items())

dict_items([('name', 'zafirah'), ('rollno', 23), ('subject', 'maths'), ('marks', 98)])

In [26]:


for k, y in info.items():   # k = key, y = value
    print(f'{k}: {y}')

name: Alice
age: 21
city: lucknow

In [30]:
car = {
    "Car": {
        "Brand": "Land Rover",
        "Model": "Defender",
        "Year": 2025
    },
    "Owner": {
        "Name": "Zafirah",
        "Age": 23,
    "Address": {
            "City": "Lucknow",
            "State": "UP",
            "Country": "India"
        }
    }
}

In [31]:
car

{'Car': {'Brand': 'Land Rover', 'Model': 'Defender', 'Year': 2025},
 'Owner': {'Name': 'Zafirah',
  'Age': 23,
  'Address': {'City': 'Lucknow', 'State': 'UP', 'Country': 'India'}}}

In [34]:
car["New"]={
    "Name": "Zofeera",
        "Age": 21,
}

In [35]:
print(car)

{'Car': {'Brand': 'Land Rover', 'Model': 'Defender', 'Year': 2025}, 'Owner': {'Name': 'Zofeera', 'Age': 21}, 'New': {'Name': 'Zofeera', 'Age': 21}}

In [38]:
car["Owner"]={
    "Name": "Khan",
        "Age": 21,}

In [39]:
print(car)

{'Car': {'Brand': 'Land Rover', 'Model': 'Defender', 'Year': 2025}, 'Owner': {'Name': 'Khan', 'Age': 21}, 'New': {'Name': 'Zofeera', 'Age': 21}}

In [40]:
Car["Address"]["City"]

NameError: name 'Car' is not defined